workDir="s3://veil-tower/work/"

aws.region =  'us-west-1'


process {
    executor = 'awsbatch'
    queue = 'TowerForge-2Ua8FEj46LxLNxievQcUzM-work'
}

wave {
   enabled = true
   endpoint = 'https://wave.seqera.io'
}

fusion {
   enabled = true
}

tower {
    accessToken = 'eyJ0aWQiOiAxMDEwOX0uNThiMTUzYjFlNzkzY2JhN2JjMzJmOWNiOGNlYThiMWMzMDE4OGEzNw=='
    enabled = true
}